In [5]:
import sqlite3
import pandas as pd
from employee import Employee

In [6]:
conn = sqlite3.connect('data.db')
c = conn.cursor()

In [7]:
c.execute("""
    CREATE TABLE IF NOT EXISTS employees(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    first TEXT,
    last TEXT,
    pay INTEGER
    );
""")
conn.commit()
#conn.close()

In [9]:
emp_1 = Employee('John', 'Doe', '3000')

c.execute("""
    INSERT INTO employees (first, last, pay)
    VALUES (?, ?, ?)
""", (emp_1.first, emp_1.last, emp_1.pay))
conn.commit()

In [15]:
emp_1 = Employee('Jane', 'Doe', '3000')

c.execute("""
    INSERT INTO employees (first, last, pay)
    VALUES (?, ?, ?)
    
""", (emp_1.first, emp_1.last, emp_1.pay))
conn.commit()

In [16]:
emps = c.execute("""
    SELECT * FROM employees
""")
df = pd.DataFrame(emps)
df.columns = ['id', 'first', 'last', 'pay']
print(df)

   id first last   pay
0   1  John  Doe  3000
1   2  John  Doe  3000
2   3  John  Doe  3000
3   4  Jane  Doe  3000
4   5  Jane  Doe  3000
5   6  Jane  Doe  3000