# Menambahkan item ke lists

In [1]:
students = ['ron', 'harry', 'draco']
students.append('amira')
print(students)

['ron', 'harry', 'draco', 'amira']

# Mengganti item dengan akses index

In [3]:
students[1] = 'delbert'
print(students)

['ron', 'delbert', 'draco', 'amira']

In [4]:
print(len(students))

4

# Menghapus item dengan index

In [5]:
del students[2]
print(students)

['ron', 'delbert', 'amira']

In [6]:
students.remove('ron')
print(students)

['delbert', 'amira']

In [7]:
students.pop()
print(students)

['delbert']

In [9]:
print('amira' in students)

False

In [10]:
print('amira' not in students)

True

# Looping for

In [13]:
scores = [100, 80, 70, 50, 100]
for score in scores:
    print(score, end=" ")

100 80 70 50 100

In [14]:
names = ['Andi', 'Budi', 'Cindy']
for name in names:
    print(name, end=" ")

Andi Budi Cindy

In [15]:
numbers = list(range(0, 10))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
for _ in range(0, 10):
    print(_, end=" ")

0 1 2 3 4 5 6 7 8 9

In [1]:
students = {"22.1313" : "fabian", "22.4444" : 'daffa'}
print(students['22.1313'])

fabian

In [2]:
print(students)

{'22.1313': 'fabian', '22.4444': 'daffa'}

In [3]:
for key, val in students.items():
    print(key, val)

22.1313 fabian
22.4444 daffa

In [9]:
#dict in dict
persons = {
     "0811": {
         "name" : 'Josh',
         'sex' : 'Male',
         'year' : 2023
     },
    "0812": {
        'name' : "Ave",
        'sex' : 'Female',
        'year' : 2022
    }
 }

for phone, info in persons.items():
    print(phone)
    print('\t', info['name'])
    print('\t', info['sex'])
    print('\t', info['year'], end='\n\n')

0811
	 Josh
	 Male
	 2023

0812
	 Ave
	 Female
	 2022

In [2]:
persons = [
    {'name':'andi','phone':'0811'},
    {'name':'budi','phone':'0812'},
    {'name':'cindy','phone':'0813'},
    {'name':'dodi','phone':'0814'}
]

for index, person in enumerate(persons):
    print(index, person['name'], person['phone'])

0 andi 0811
1 budi 0812
2 cindy 0813
3 dodi 0814

## copying lists

In [1]:
banks = ['bri', 'btn', 'bca']
copy_banks = banks
copy_real_banks = banks[:]
banks.append('kredivo')
print('banks: ', banks)
print('copy_banks: ', copy_banks)
print('copy_real_banks: ', copy_real_banks)

banks:  ['bri', 'btn', 'bca', 'kredivo']
copy_banks:  ['bri', 'btn', 'bca', 'kredivo']
copy_real_banks:  ['bri', 'btn', 'bca']

## strings

In [5]:
full_name = 'Budi Santoso'
print(full_name[3])
first_name = full_name[0:4] #slicing string
print(first_name)

i
Budi

# Libraries

In [16]:
#import datetime
#from datetime import datetime
from datetime import datetime as dt

#print(datetime.datetime.now())
#print(datetime.now())
today = dt.now()
print(today)
print('Year: ', today.year)
print('Month: ', today.month)
print('Day:',today.day)
print('Hour:', today.hour)
print('Minute: ', today.minute)
print('Second: ', today.second)
print('Milisecond: ', today.microsecond)

2023-07-20 13:43:48.460804
Year:  2023
Month:  7
Day: 20
Hour: 13
Minute:  43
Second:  48
Milisecond:  460804